{% load static %}
{% block body %}
{% include 'admin_navigation.html' %}

    <marquee style="background-color:red;font-family:Cursive;color:darkcolor;font-weight:bold">
        View All Employeers
    </marquee>
<hr>

<div class="container table table-hover" style="font-family:cursive">

<table id="example" class="table table-hover">
   <thead>
       <tr style="background-color:#D57E7E;font-family:cursive">
           <th>Sr.No</th>
           <th>Full Name</th>
           <th>Email</th>
           <th>Mobile Number</th>
           <th>Gender</th>
           <th>workplace</th>
           <th>Job Location</th>
           <th>Image</th>
           <th>Status</th>
           <th>Change Status</th>
           <th>Action</th>
       </tr>
   </thead>
    <tbody>
    {% for i in data %}
      <tr style="background-color:#FFE1AF;font-family:cursive">
        <td>
            {{forloop.counter}}
        </td>
        <td>
            {{i.user.first_name }}  {{ i.user.last_name}}
        </td>
        <td>
            {{i.user.username }}
        </td>
        <td>
            {{i.mobile}}
        </td>
        <td>
            {{i.gender}}
        </td>
        <td>
            {{i.workplace}}
        </td>
        <td>
            {{i.workarea}}
        </td>
          <td>
            <img src="{{i.image.url}}" style="width:60px;height:60px;border-radius:30px">
        </td>
        <td>
            {{i.Status}}
        </td>
        <td>
            <a href="{% url 'change_Status' i.id %}" class="btn btn-success btn-sm" onclick="return confirm('Are you sure you want to change Status?')">Change Status</a>
        </td>
        <td>
            <a href="{% url 'delete_Employeer' i.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure to delete the user record ?')"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tr>
        <td>

        </td>
    </tr>
</table>

</div>
{% endblock %}