{% load static %}
{% block body %}
{% include 'admin_navigation.html' %}
<script>
    function check_pass()
    {
       if(document.change_password.npwd.value!=document.change_password.cnpwd.value)
       {
           alert(" Your New Password and Confirm New Password fields are not matching ");
           document.changepassword.cnpwd.focus();
           return false;
        }
       return true;
    }
</script>
    <marquee style="background-color:red;font-family:cursive;color:black;font-weight:bold">
        Change Password
    </marquee>
       <hr>
       <form class="container mt-5" method="post" name="change_password" onsubmit="return check_pass()" style="background-color:#9CC094;border-radius:20px">
           {% csrf_token %}
           <label><b>Current Password</b></label>
           <input type="password" class="form-control" name="pwd">

           <label><b>New Password</b></label>
           <input type="password" class="form-control" name="npwd" placeholder="john@123">
           <label><b>Confirm New Password</b></label>
           <input type="password" class="form-control" name="cnpwd" placeholder="john@123">

           <input type="submit" class="btn btn-primary" style="align:center;margin-top:2%;color:black;background:red">
       </form>

{% ifequal error "no" %}
<script>
       alert("Password changed Successfully ");
       window.location=('{% url 'admin_Profile' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
      alert("New Password and Confirm Password does not match");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
      alert("Your current password is invalid.Enter Again...");
</script>
{% endifequal %}

{% endblock %}