{% load static %}
<style>
.setting1
{
    background-color:#C37B89;
    width:auto;
    height:700px;
    margin-top:1%;
}
</style>

{% block body %}
{% include 'navigation.html' %}
<div class="setting1">
<div class="container-fluid">
    <img src="{% static 'images/image3.jpg' %}" style="height:700px;width:100%">


</div>
</div>
<div class="container" style="background-color:black ; height:900px;width:100%;margin-top:2%">
    <h1 class="text-center text-white" style="font-family:cursive">
        -------| Customers who got Jobs |-------
    </h1>
    <br>
    <div class="row mt-10">
        <div class="col-md-6">
            <img align="left" src="{% static 'images/em001.jpg' %}" class="img-fluid rounded-circle" style="height:300px;width:300px;margin-left:200px;padding-left:0"><br><br><br>
        </div>
        <div class="col-md-6">
            <img align="right" src="{% static 'images/em00.jpg' %}" class="img-fluid rounded-circle" style="height:300px;width:300px;margin-right:200px;padding-right:0">
        </div>

    </div>
    <div class="row mt-10">
        <div class="col-md-6">
             <img align="left" src="{% static 'images/em4.jpg' %}" class="img-fluid rounded-circle" style="height:300px;width:300px;margin-left:200px;padding-left:0">
        </div>
        <div class="col-md-6">
            <img align="right" src="{% static 'images/em5.jpg' %}" class="img-fluid rounded-circle" style="height:300px;width:300px;margin-right:200px;padding-right:0">
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}