<html>
<head>
    {% load static %}
    <title>
        Sabko Rojgaar App
    </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="{% static 'styles.css' %}">


 <script type="text/javascript">
  function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>
    .navbar-1:hover
    {
       color : white;
     }




</style>

</head>

<body>
<div class="container">
  <div class="top">

  <div class="row" >

  <div class="col-sm-3 ml-0" > <img src="{% static 'images/job_search.jpg' %}" width="150px" height="150px" style="border-radius:150px"></div>
  <div class="col-sm-3 mt-5 pb-5 pr-50 "  ><span style="font-weight : bold ; font-size : 30px;padding-right-100px;padding-bottom:80px"><br><span style="color:red;padding-bottom:30px;font-family:cursive " >SABKO ROJGAAR</span></span></div>
      <div class="col-sm-3 pt-5">
          <span style="font-weight:bold; font-size : 30px;padding-top:50px;padding-left:350px"><br><i class="fa fa-instagram padding-left:30%"></i> <i class="fa fa-twitter"> </i> <i class="fa fa-facebook"> </i> <i class="fa fa-LinkedIn"> </i> <i class="fa fa-telegram "> </i></span>
                 

      </div>
           <div class="col-sm-3 pt-5" style="padding-left:50px;padding-top:70px;" id="google_translate_element"></div>
  </div>
</div>
    <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

    </div>


</body>
</html>
