<html>
<head>
    {% load static %}
    <title>
        Sabko Rojgaar App
    </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
<script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="{% static 'styles.css' %}">


 <script type="text/javascript">
  function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>
    .navbar-1:hover
    {
       color : white;
     }




</style>

</head>

<body>
<div class="container">
  <div class="top">

  <div class="row" >

  <div class="col-sm-3 ml-0" > <img src="{% static 'images/job_search.jpg' %}" width="150px" height="150px" style="border-radius:150px"></div>
  <div class="col-sm-3 mt-5 pb-5 pr-50 "  ><span style="font-weight : bold ; font-size : 30px;padding-right-100px;padding-bottom:80px"><br><span style="color:red;padding-bottom:30px;font-family:cursive " >SABKO ROJGAAR</span></span></div>
      <div class="col-sm-3 pt-5">
          <span style="font-weight:bold; font-size : 30px;padding-top:50px;padding-left:350px"><br><i class="fa fa-instagram padding-left:30%"></i> <i class="fa fa-twitter"> </i> <i class="fa fa-facebook"> </i> <i class="fa fa-LinkedIn"> </i> <i class="fa fa-telegram "> </i></span>
                 

      </div>
           <div class="col-sm-3 pt-5" style="padding-left:50px;" id="google_translate_element"></div>
  </div>
</div>
<nav class="navbar navbar-expand-sm" style="background-color:black">
    <a class="navbar-brand text-white pl-5 pb-5 pt-5 font-weight-bold" style="font-family:Monotype Corsiva">Sabko Rojgaar</a>
    <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="navbar-1" href="{% url 'index' %}" style="padding-left:70px;font-family:cursive;font-weight:bold;font-size:20px"><i class="fa fa-home"></i>Home</a>
        <a class="navbar-1" href="{% url 'latest_jobs' %}" style="padding-left:50px;font-family:cursive;font-weight:bold;font-size:20px">Latest Jobs</a>
        <a class="navbar-1" href="{% url 'Employee_login' %}" style="padding-left:50px;font-family:cursive;font-weight:bold;font-size:20px"><i class="fa fa-user-plus mr-1"></i>Employee Login</a>
        <a class="navbar-1" href="{% url 'Employeer_login' %}" style="padding-left:50px;font-family:cursive;font-weight:bold;font-size:20px"><i class="fa fa-user-plus mr-1"></i>Employeer Login</a>
            <a class="navbar-1" href="{% url 'admin_login' %}" style="padding-left:50px;font-family:cursive;font-weight:bold;font-size:20px"><i class="fa fa-user-plus mr-1"></i>admin Login</a>
                <a class="navbar-1" href="{% url 'contact' %}" style="padding-left:50px;font-family:cursive;font-weight:bold;font-size:20px"><i class="fa fa-tty mr-1"></i>Contact us</a>

        </li>

    </ul>


</nav>



</body>
</html>
