{% load static %}
{% block body %}
{% include 'Employeer_navigation.html' %}

    <marquee style="background-color:red;font-family:Cursive;color:darkcolor;font-weight:bold">
        Send Message
    </marquee>
<hr>

<div class="container form-control" style="font-family:cursive">
    <form method="post">
      {% csrf_token %}
      <label>Send To : </label>
      <input type="username" value="{{employee.user.first_name}}  {{employee.user.last_name}}">
      <label>Message : </label>
      <textarea rows="20" col="80" type="text" name="message" >Hey Applicant!!Thank you sending your application.As your profile doesnt suits our job , your application has been rejected .Please take note of it. Try for next job . See you soon .</textarea>
    </form>



</div>
{% endblock %}
{% include 'footer.html' %}