@import url("base-theme.css");
@import "base-theme.css";
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
.*
{
    color : white;
    font-weight:bold;
    font-family:"Sofia", sans-serif;

}